* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 248, 250);
}

.main {
    background-color: #dddddd40;
    min-height: 70vh;
    margin-left: 20px;
    margin-right:20px;
    align-items:start;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-top:40px;
    padding-bottom:40px;
    grid-area: main;
}

.cardHp:hover {
    opacity: 1;
    border: silver 2px solid;
}

.carouselLabel {
    color: rgb(12, 12, 12);
    font-size: 25px;
    background-color: rgba(63, 61, 61, 0.2);
    font-weight: bold;
    position: relative !important;
    text-align: center;
    right: 0;
    left: 0;
    margin-top: 25px;
}

.grid-container {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 0.4fr 1.2fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 3.1fr 0.5fr; 
    gap: 0px 0px;
    grid-template-areas:
    "header header header"
    "grid-nav grid-nav grid-nav"
    "aside main main"
    "footer footer footer";
}

.header {
  grid-area: header;
  
}

.navHeader {
height: 120px;
}

.grid-nav {
    grid-area: grid-nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    /* padding-bottom: 30px; */
    font-family: 'Courgette', cursive;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    /* margin-bottom: 50px; */
    font-weight: bold;
    
}

.menuNav {
    background: linear-gradient(to right, cyan, magenta);
    border: #130f50 1px solid;

}


.aside{
    background-color: #dddddd40;
    min-height: 70vh;
    padding-left: 60px;
    padding-right:60px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    grid-area: aside;
} 

.footer {
    display: flex; 
    flex-direction: column; 
    align-self: flex-end;
    justify-content: start ; 
    align-items: center;
    grid-area: footer;
    padding-top: 30px;
    background: linear-gradient(to right, cyan, magenta);
    height: auto;
    font-size: 18px;
    box-shadow: 0 3px 15px rgba(35,35,35,.9);
}
  
.iconosHeader {
    list-style-type: none;
    display: flex;
}

.inputHeader {
    width: 400px;
}

.logo {
  width: 160px;
  height: 70px;
  
}

.search {
  display: flex;
  justify-content: center; 
  align-items: normal; 
  flex: 1; 
}

.search-input {
  width: 30%; 
  border: solid black 1px; 
  padding: 10px; 
  min-width: 300px;
  font-size: 16px;
 
}

.search-btn {
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white; 
  border: solid black 1px; 
  cursor: pointer; 
}

.formulario1{
    margin: 20px;
    padding: 20px;
    width: 600px;
    font-size: x-large;
    display:flex;
}

.menu {
    background: linear-gradient(to right, cyan, magenta);
    display: flex;
    margin: auto 0;
    list-style: none;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    border: #130f50 1px solid;
    justify-content: center;
    border-left: 0px;
    border-right: 0px;
}

.menu li {
    display: inline-block;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
}

.menu li a {
    padding: 5px 30px;
    margin: 10px 30px;
    color: rgb(12, 12, 12);
    text-decoration: none;
    border: solid 1px black;
    border-radius: 2px;
    font-size: 18px;
    background-color: rgb(213, 233, 233);
    font-weight: bold;
}

.menu li a:hover {
    color: rgb(8, 8, 8);
   border: rgb(52, 28, 117);
}



.masVendidos {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja {
    margin: 5px;
}

.caja img{
    width: 280px;
    height: 280px;
    margin: 10px;
    justify-content: center;
    padding: 10px;
    background-color: white;
} 

.parrafo1 {
    padding: 10px;
    margin: 10px;
    line-height: 1.5;
    text-align:center;
    font-size: 27px;
    font-family:sans-serif;
}

.parrafo2 {
    padding: 10px;
    text-align:center;
    font-size: 18px;
    font-family: 'Wix Madefor Display', sans-serif;
}

.contacto {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.listaCompra {
    padding: 10px;
    margin: 27px;
    line-height: 1.5;
    font-size: 25px;
    font-family:sans-serif;
}

.tituloProductos {
    margin: auto;
    width: 100%;
    font-family: 'Courgette', cursive;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
    justify-content: center;
    background-color: rgb(15, 223, 223);
    border-radius: black 2px;
    display: flex;
    align-self:center;
}

button {
    background-color: #008CBA;
    padding: 10px;
}

.tituloVideos {
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-areas:
        "header header header"
        "grid-nav grid-nav grid-nav"
        "aside main main"
        "footer footer footer";
    }
    
}


