* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 248, 250);
}

.main {
    background-color: #dddddd40;
    min-height: 70vh;
    margin-left: 20px;
    margin-right:20px;
    align-items:start;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-top:40px;
    padding-bottom:40px;
    grid-area: main;
}

.cardHp:hover {
    opacity: 1;
    border: silver 2px solid;
}

.carouselLabel {
    color: rgb(12, 12, 12);
    font-size: 25px;
    background-color: rgba(63, 61, 61, 0.2);
    font-weight: bold;
    position: relative !important;
    text-align: center;
    right: 0;
    left: 0;
    margin-top: 25px;
}

.grid-container {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1.2fr 1fr;
    grid-template-rows: 80px 70px 4fr 0.5fr; 
    gap: 0px 0px;
    grid-template-areas:
    "header header header"
    "grid-nav grid-nav grid-nav"
    "aside main main"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.navHeader {}

.grid-nav {
    grid-area: grid-nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    font-family: 'Courgette', cursive;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.menuNav {
    background: linear-gradient(to right, cyan, magenta);
    border: #130f50 1px solid;

}

.aside{
    background-color: #dddddd40;
    min-height: 70vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    grid-area: aside;
    
} 

.footer {
    display: flex; 
    flex-direction: column; 
    align-self: flex-end;
    justify-content: start ; 
    align-items: center;
    grid-area: footer;
    padding-top: 30px;
    background: linear-gradient(to right, cyan, magenta);
    height: auto;
    font-size: 18px;
    box-shadow: 0 3px 15px rgba(35,35,35,.9);
}
  
.iconosHeader {
    list-style-type: none;
    display: flex;
    justify-content: start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputHeader {
    width: 600px;
}

.logo {
  width: 160px;
  height: 70px;
  
}

.search {
  display: flex;
  justify-content: center; 
  align-items: normal; 
  flex: 1; 
}

.search-input {
  width: 30%; 
  border: solid black 1px; 
  padding: 10px; 
  min-width: 300px;
  font-size: 16px;
 
}

.search-btn {
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white; 
  border: solid black 1px; 
  cursor: pointer; 
}

.navbar-nav .nav-link.active {
    text-shadow: 2px 2px 4px #2e2e2e;
}

.parrafoQuienesSomos {
    padding: 10px;
    margin: 10px;
    line-height: 1.5;
    text-align:center;
    font-size: 27px;
    font-family:sans-serif;
}

.parrafoFooter {
    padding: 10px;
    text-align:center;
    font-size: 18px;
    font-family: 'Wix Madefor Display', sans-serif;
}

.contacto {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.listaCompra {
    padding: 10px;
    margin: 27px;
    line-height: 1.5;
    font-size: 25px;
    font-family:sans-serif;
}
.listaCompra ol li {
    font-family: sans-serif;
}

.tituloProductos {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 35px;
    justify-content: center;
    border-radius: black 2px;
    display: flex;
    align-self:center;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 0.4fr 1.2fr 1fr;
        grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
        display: flex;
        flex-direction: column;
    }

    .navHeader {
        height: 80px;
    }
    
    .aside {
        padding: 20px;
        align-items: center;
        display: none;
    } 

    .main {
        background-color: #dddddd40;
        min-height: 70vh;
        margin-left: 20px;
        margin-right:20px;
        margin-top: 80px;
        align-items:start;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding-top:40px;
        padding-bottom:40px;
    }
    
    .footer {
     align-self: auto;
    }

    .mobileOnlyNav {
        display: block !important;
    }
}

@media only screen and (min-width: 769px) {
    .mobileOnlyNav {
        display: none !important;
    }
}