
.tituloProductos{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 35px;
    justify-content: center;
    display: flex;
    align-self:center;
}
h2{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    font-size: 30px;
    justify-content: center;
    display: flex;
    align-self:center; 
    background: $bg_grad;
     
}